<h2>Current Activities</h2>
<ul>
    <li>Doctoral student in Computer Science at the University of Luxembourg</li>
    <li>Researcher for the <a href="https://vrarlab.uni.lu/projects.html#VRBIAS" target="_blank" rel="noopener">VR BIAS</a> project, focusing on enhancing virtual avatar embodiment and improving body image</li>
</ul>
<h2>Publications</h2>
{%-bibliography --max 5 -%}
<h2>Teaching</h2>
{% include teaching_list.html limit=3%}
<h2>Blog</h2>
{%-include post_item.html collection=site.data.menu.entries-%}
<h2>Contact Me</h2>
<ul>
    <li><b>Email:</b> curl -s https://herforth.xyz/email.txt | base64 -d</li>
    <li><b>PGP:</b> wget -q https://herforth.xyz/pub.asc</li>
    <li>LinkedIn is also an option</li>
</ul>
