<h2>Current Activities</h2>
<ul>
    <li>Doctoral student in Computer Science at the University of Luxembourg</li>
    <li>Researcher for the <a href="https://vrarlab.uni.lu/projects.html#VRBIAS" target="_blank" rel="noopener">VR BIAS</a> project, focusing on enhancing virtual avatar embodiment and improving body image</li>
    <li>Invested in <a href="https://skippet.io/" target="_blank" rel="noopener">Skippet</a></li>
</ul>
<h2>Publications</h2>
{%-bibliography --max 5 -%}
<h2>Blog</h2>
{%-include post_item.html collection=site.data.menu.entries-%}
<h2>Personal Active Projects</h2>
<ul>
    <li><a href="https://github.com/DerAndereJohannes/pmrs" target="_blank" rel="noopener">pmrs</a>: Rust library which adds support for object-centric process mining</li>
    <li><a href="https://github.com/DerAndereJohannes/ghostfolio-cli" target="_blank" rel="noopener">ghostfolio-cli</a>: Low dependency interactive bash script for access to your ghostfolio account through a convenient CLI</li>
    <!-- <li><b>lod-cli</b>(TBA): Low dependency interactive bash script for access to a {DE,FR,EN} <-> LU dictionary through a convenient CLI</li> -->
    <li>Helping out in various additional projects!</li>
</ul>

<h2>Contact Me</h2>
<ul>
    <li><b>Email:</b> curl -s https://herforth.xyz/email.txt | base64 -d</li>
    <li><b>PGP:</b> wget -q https://herforth.xyz/pub.asc</li>
    <li>LinkedIn is also an option</li>
</ul>
