<h2>Current Activities</h2>
<ul>
    <li>Studying Data Science MSc at <a href="https://rwth-aachen.de/" target="_blank" rel="noopener">RWTH Aachen</a></li>
    <li>HiWi at <a href="https://fit.fraunhofer.de/" target="_blank" rel="noopener">FIT Fraunhofer Institute</a></li>
    <li>Invested in <a href="https://skippet.io/" target="_blank" rel="noopener">Skippet</a></li>
    <li>Planning on how to tackle my new years resolution</li>
</ul>
<h2>Opinion Pieces</h2>
{%-include post_list.html-%}
<h2>Contact Me</h2>
<ul>
    <li><b>Email:</b> curl -s https://node.lu/email.txt | base64 --decode</li>
    <li><b>PGP:</b> wget -q https://node.lu/pub.gpg</li>
    <li>LinkedIn is also an option</li>
</ul>
<br>
{%-include links.html-%}